<div class="sidebar-wrapper w-72 h-screen fixed z-10 top-0 left-0 border-r-2 border-b-slate-200">
  <!-- neolink icon -->
  <div class="nelink-icon-wrapper flex justify-center p-5">
    <img src="../../assets/icons/neolink_icon.png" alt="Neolink icon" class="w-10 h-auto mr-5">
  </div>

  <!-- general section -->
  <div class="section-wrapper">
    <h4 class="text-[#f8a642] ml-5 mt-1 mb-3">GENERAL</h4>

    <!-- home -->
    <div class="home-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="Home" class="flex items-center ">
        <img src="../../assets/icons/home.svg" alt="Home icon" class="w-5 h-auto mr-5">
        <p>Home</p>
      </a>

    </div>

    <!-- Connect -->
    <div class="connect-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="connect" class="flex items-center">
        <img src="../../assets/icons/link.svg" alt="Connect icon" class="w-5 h-auto mr-5">
        <p>Connect</p>
      </a>
    </div>

    <!-- Dirrectory order -->
    <div class="directory-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="directory" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Directory</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>
  </div><!-- general wrapper end -->

  <!-- Logistic section -->
  <div class="section-wrapper">
    <h4 class="text-[#f8a642] ml-5 mt-1 mb-3">Logistic</h4>

     <!-- Pricing order -->
     <div class="pricing-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Pricing" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Pricing</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

    <!-- Tariff order -->
    <div class="tariff-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Tariff" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/link.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Tariff</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

    <!-- Shipment order -->
    <div class="shipment-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Shipment" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/home.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Shipment</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

    <!-- RCTM -->
   <div class="rctm-wrapper  w-auto ml-5 mr-5 mb-5">
    <a href="rctm" class="flex items-center ">
      <img src="../../assets/icons/home.svg" alt="Home icon" class="w-5 h-auto mr-5">
      <p>RCTM</p>
    </a>
  </div>

   <!-- Crossdocking order -->
   <div class="crossdocking-wrapper  w-fit ml-5 mr-5 mb-3 ">
    <a href="crossdocking" class="flex justify-between ">

      <!-- box1 -->
      <div class="icon-title-set flex items-center ">
        <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
        <p class="">Crossdocking</p>
      </div>

      <!-- box2 -->
      <div class="arrow  flex justify-end  w-4/12">
        <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
      </div>
    </a>
  </div>
  </div><!-- Logistic wrapper end -->


  <!-- Management section-->
  <div class="section-wrapper w-full ">
    <h4 class="text-[#f8a642] ml-5 mt-1 mb-3">MANAGEMENT</h4>

    <!-- purchase order -->
    <div class="purchase-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Management" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Purchase order</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

    <!-- Products -->
    <div class="products-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="Products" class="flex items-center ">
        <p class="w-auto h-auto ml-12">Products</p>
      </a>
    </div>

    <!-- Purchase orders -->
    <div class="purchase-order-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="purchase-order" class="flex items-center ">
        <p class="w-auto h-auto ml-12">Purchase orders</p>
      </a>
    </div>

     <!-- Packing list -->
     <div class="packing-list-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="packing-list" class="flex items-center ">
        <p class="w-auto h-auto ml-12">Packing list</p>
      </a>
    </div>

    <!-- Booking management -->
    <div class="booking-management-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="booking-management" class="flex items-center ">
        <p class="w-auto h-auto ml-12">Booking management</p>
      </a>
    </div>

    <!-- sale order -->
    <div class="sale-order-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Sale-order" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">Sale order</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

    <!-- inventory  -->
    <div class="inventory-wrapper   w-fit ml-5 mr-5 mb-5 ">
      <a href="Inventory" class="flex justify-between ">

        <!-- box1 -->
        <div class="icon-title-set flex items-center ">
          <img src="../../assets/icons/book.svg" alt="Directory icon" class="w-5 h-auto mr-5 ">
          <p class="">inventory</p>
        </div>

        <!-- box2 -->
        <div class="arrow  flex justify-end  w-4/12">
          <img src="../../assets/icons/arrow.svg" alt="Arrow icon" class="w-2/12">
        </div>
      </a>
    </div>

  </div><!-- management wrapper end -->

  <!-- Others section -->
  <div class="section-wrapper">
    <h4 class="text-[#f8a642] ml-5 mt-1 mb-3">Others</h4>

    <!-- setting -->
    <div class="setting-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="setting" class="flex items-center ">
        <img src="../../assets/icons/home.svg" alt="Home icon" class="w-5 h-auto mr-5">
        <p>Setting</p>
      </a>

    </div>

    <!-- Help -->
    <div class="help-wrapper  w-auto ml-5 mr-5 mb-5">
      <a href="help" class="flex items-center">
        <img src="../../assets/icons/link.svg" alt="Connect icon" class="w-5 h-auto mr-5">
        <p>Help</p>
      </a>
    </div>

  </div><!-- Others section wrapper end -->





 </div> <!-- sidebar-wrapper end -->
